.h1{
  font-size: 50px;
}
.h2{
  font-size: 35px;
}
.box1er{
width: 200px;
height: 500px;
background-color: green;
}
.box2eme{
  width: 200px;
  height: 500px;
  background-color: red;
}

.credits{
  width: 200px;
  height: 500px;
  background-color: blue;

}
.again{
  width: 200px;
  height: 150px;
  background-color: white;
}